/* .box{
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  overflow: scroll;
  padding: 10px;
  margin: 50px auto;
  background-color: rgba(0, 255, 255, 0.548);
  display: flex;
}
button{
  position: absolute;
  left: 50%;
} */